<h1>About us</h1>
<p>&nbsp;</p>
<p>We are music professionals (and fanatics!)
that want to offer you the best online music shopping experience at the best price.</p> 
<p>We have taken the great MusicArt experience from our physical retail outlets
and made this available in an online capacity. </p>
<p>We offer a vast catalogue of music that sets us ahead of our competitors
as well as spot prizes and membership schemes
to reward user loyalty with discounts.
So, enjoy the MusicArt experience. Happy Shopping!</p>
