<h1>Contact us</h1>
<p>&nbsp;</p>
<p>For payment issues please contact <span style="font-weight: bold">finance@musicart.xyz</span></p>
<p>If have any suggestions on how we can improve our catalogue, please drop us an email at <span style="font-weight: bold">suggestions@musicart.xyz</span></p>
<p>... and for any other suggestions please drop us an email at <span style="font-weight: bold">cs@musicart.xyz</span></p>
