<h1>Contact us</h1>
<p>&nbsp;</p>
<p>For payments issues contact <span style="font-weight: bold">accountants@musicart.xyz</span></p>
<p>If you a suggestion for us, drop an email do <span style="font-weight: bold">suggestions@musicart.xyz</span></p>
<p>... and for rest drop us an email at <span style="font-weight: bold">cs@musicart.xyz</span></p>
